# Model checkpoints & logs
models/*
outputs/*

# Python cache
__pycache__/
*.py[cod]

# Temporary files
*.pkl
*.h5
*.ipynb_checkpoints

# Datset
data/gldv2_micro/*
data/gldv2_dataset/*
data/gsv_50k/*
